<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>
<body>
	<section class = "banner d-flex justify-content-center align-items-center">
		<div class = "text-center">
			<h1 class = "font-weight-bold">SMART CONTACT MANAGER</h1>
			<p>Your online phone directory</p>
			<button type = "button" class = "btn btn-outline-success btn-lg text-white">Let's Start</button>
		</div>
			
	</section>
	
</body>
</html>