<!doctype html>
<html lang="en" xmlns:th = "http://www.thmyleaf.org" th:replace = base::layout(~{::section})>
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="card col-md-6 offset-3 mt-4">
		<div class="card-body">
			<div class="simple-login-container">
							<!-- message -->
		<div th:if = "${session.msg}" class="container text-center">
			<div th:text = "${session.msg.content}" class="alert" th:classappend="${'alert-'+session.msg.type}" role="alert">
			</div>
			<th:block th:text = "${@sessionAttributeRemover.removeSessionAttribute()}"></th:block>
		</div>
		
				<form th:action = "@{/verify-otp}" method = "POST">
					<div class="form-group mt-3">
						<input type="text" name = "otp" class = "form-control" placeholder = "Enter OTP here" required />
					</div>
					<div class="container text-center"><button class="btn btn-outline-success">Verify OTP</button></div>
				</form>
			</div>
		</div>
	</div>
		
	</section>
</body>
</html>